<!--Top nav start-->

		<nav class="nav navbar-inverse navbar-fixed-top">
        <div class="container">
                <div class="navbar-header">
                    <div class="navbar-brand">Mercedes Benz</div>
                </div>
            
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="my-Gallary">Home</a></li>
                <li><a routerLink="array-one">Array One</a></li>
                <li><a routerLink="array-two">Array Two</a></li>
                <li><a routerLink="my-user">User List</a></li>
                <li><a routerLink="contact-us">Contact Us</a></li>
                <li><a routerLink="my-json">Car List</a></li>
                <li><a routerLink="local-json">Local json</a></li>
             </ul>   
        </div>

        </nav>

<!--top nav end-->
<router-outlet></router-outlet>